body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.headerIcon{
    width: auto;
    height: 48px;
}

.header,
.footer,
.sec1{
    background-color: rgb(7, 87, 7);
}

.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.headerLinks{
    display: flex;
    list-style-type: none;
    gap:20px;
}

.headerLinks a{
    text-decoration: none;
    color:rgb(221, 241, 35);
    font-size: 18px;
}


.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sec1{
    flex-grow: 1;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1 img{
    height: 300px;
}

.hero.container{
    display: flex;
    gap:10px;
    flex-direction: column;
}

.hero.main{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
    inline-size: 500px;
    overflow-wrap: break-word;
}

.hero.secondary{
    font-size: 18px;
    color:#E5E7EB;
    inline-size: 600px;
    overflow-wrap: break-word;
}

.hero.button{
    border-radius: 8px;
    background-color: rgb(59, 104, 14);
    border:0px;
    padding:12px;
    font-weight: bold;
    font-size: 20;
    color:#E5E7EB;
}

.sec2{
    background-color: rgb(226, 236, 226);
    flex: 1 1 auto;
    height: 500px;
}

.sec3{
    background-color: rgb(176, 238, 157);
    flex: 1 1 auto;
    height: 400px;
} 

.sec4{
    background-color: ivory;
    flex: 1 1 auto;
    height: 300px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: ivory;
    height: 60px;
    padding: 30px;
}